.background{
	-fx-background-image: url("../img/gau.jpg");
}
.btn{
	-fx-background-color:#22c14d;
	-fx-text-fill :white;
}

/*adminpage*/
.adminbg{
	-fx-background-image: url("../img/adminpage.jpg");
}
